li{
    cursor: pointer;
    
}

.navbar {
    background-color: #1c325a;
    height: 75px;

}

a.navbar-brand {
    font-weight: 500;
    color: #fff;
    font-size: 24px;
    transition: 0.3s color;
    font-weight: bold;
}

button.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

button.navbar-toggler:focus,
button.btn-close:focus {
    box-shadow: none;
    outline: none;
   
}

.nav-link {
    color: #ffffff;
    font-weight: 500;
    position: relative;
    font-weight: bold;
    
}

.nav-link:hover, 
.nav-link.active {
    color: #2091f9;
}
.offcanvas-title{
    font-weight: bold;
}

@media(max-width: 991px) {
    button.logout {
        margin-top: 125%;
    }
}

